
p{  
   font-size: 10px;
   text-align: center;

}

@media(max-width:425px){
    p{
      font-size: 8px;
      width: 88px;
      top: 50%;
      right: 0;
      opacity: .9;
      background: none;
      }
    img{
        max-width: 15px;
        }
}