<mat-card class="event-card">
  <mat-card-header>
    <div mat-card-avatar class="event-header-image"></div>
    <mat-card-title>{{cityEvent?.name}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src='{{cityEvent?.imageUrl}}' alt="Banja Luka" class="event_img" />
  <mat-card-content>
    <p>
      {{cityEvent?.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <p>{{cityEvent?.eventDate | date:'dd.MM.yyyy'}}</p>
    <p>{{cityEvent?.eventDate}}</p>
  </mat-card-actions>
</mat-card>
