<mat-toolbar>
  <mat-toolbar-row class="mat-toolbar-row">

    <button mat-icon-button  (click)="toggleMenu()" class="toogle-button">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-raised-button class="right-button" (click)="loginLogout()">{{adminRoute ? 'Logout' : 'Prijavi se'}}</a>
    <h3 class="app-title">ITP 100</h3>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="app-container">
  <mat-sidenav [(opened)]="opened" mode="side" class="menu-container">

    <mat-list class="menu">
      <mat-list-item class="menu-item" routerLink="/">
        <mat-icon mat-list-icon>home</mat-icon>
        <p style="margin-bottom: 0;">Početna</p>
      </mat-list-item>
      <ng-container *ngIf="adminRoute">
        <mat-list-item class="menu-item" routerLink="/admin">
          <mat-icon mat-list-icon>notes</mat-icon>
          <p style="margin-bottom: 0;">Događaji</p>
        </mat-list-item>

        <mat-list-item class="menu-item" routerLink="/admin/categories">
          <mat-icon mat-list-icon>image</mat-icon>
          <p style="margin-bottom: 0;">Kategorije</p>
        </mat-list-item>
      </ng-container>



    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
