<div fxLayout="row ">
  <div fxFlex="75%" class="advertisement-box">
    <img src="../../assets/img/cola.png" width="681px" height="100px">
  </div>
  <div fxFlex="25%" class="advertisement-box" ><app-weather ></app-weather></div>
</div>

<hr/>
<h1 class="events-Heading">Današnji događaji</h1>
<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="0px"
     fxLayoutAlign="flex-start">
  <div *ngFor="let item of todayEvents"
       fxFlex="0 1  calc(33.3% - 32px)"
       fxFlex.lt-md="0 1  calc(50% - 32px)"
       fxFlex.lt-sm="100%" class="eventsCard">
    <app-event-card [cityEvent]="item"></app-event-card>
  </div>
</div>

<hr/>
<h1 class="events-Heading">Predstojeći događaji</h1>
<div class="events-Heading">
  <mat-form-field>
    <mat-label>Kategorija</mat-label>
    <mat-select [(ngModel)]="cityEventCategoryId" (selectionChange)="onCategoryChanged($event)">
      <mat-option *ngFor="let cityEventCategory of cityEventCategories" [value]="cityEventCategory.id">
        {{cityEventCategory.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="0px"
     fxLayoutAlign="flex-start">
  <div *ngFor="let item of upcomingEvents"
       fxFlex="0 1 calc(33.3% - 32px)"
       fxFlex.lt-md="0 1 calc(50% - 32px)"
       fxFlex.lt-sm="100%" class="eventsCard">
    <app-event-card [cityEvent]="item"></app-event-card>
  </div>
</div>

